version: '3.8'

services:
  # Web Uygulaması Servisi (Flask)
  # Veritabanı olarak Supabase kullanılmaktadır. (Dış PostgreSQL sunucusu)
  web:
    build: .
    container_name: rota_flask_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
